#outline{
  border: 2px solid grey;
  border-radius:10px;
  height:500px;
  width:300px;
  display: flex;
  justify-content: center;
  margin:0px 0px 0px 50px;
  background-color: rgba(106, 111, 111, 0.522);
}
#body{
background-color:rgb(254, 252, 232);
}

#display{
  border:2px solid grey;
  height:50px;
  width:250px;  
  font-size:20px;
  margin:20px 20px 30px 30px; 
 
}
.button{
  height:65px;
  width:65px;
  font-size:20px;
  margin:1px 4px 4px 0px ;
 
}
#clear{
  background-color: black;
  color:white;
}
#answer{
  background-color:orange;
}
#delete{
  background-color: darkgrey;
}
.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}